body {
    background-image: url('public/A7408588.JPG'); 
    background-size: 120% 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #ffffff;
    font-family: arial, sans-serif; 
    margin: 0;
    padding: 0;
}

.bg-index {
    background-image: url('public/wallhack (unused i think)/caption.1.gif'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.link-wrapper {
    width: 400px;
    height: 320px; 
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: #00000099; 
    border-radius: 10px; 
    overflow: hidden;
}

.link-wrapper a {
    color: #ffffff; 
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.link-wrapper img {
    width: 100%;
    min-width: 0; 
    min-height: 0; 
    flex-grow: 1; 
    object-fit: fill; 
    display: block;
}

.link-wrapper p {
    margin: 0;
    padding: 15px 0;
    flex-shrink: 0; 
    text-shadow: 2px 2px 4px #000000cc; 
}

.link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
}

.image-container {
    margin: 20px auto;
    text-align: center;
    width: 80%;
}

.image-container img {
    max-width: 100%;
    border-radius: 8px; 
}

div.scroll-container {
  overflow: auto;
  white-space: nowrap;
}


.description {
    text-align: center;
    margin: 10px;
}

.description p {
    margin: 0px;
}

#map { 
    height: 800px;
    width: 90%;
    margin: 0 auto;
}

.confirmed {
    color: #ffffff; 
    font-weight: bold;
}

.unconfirmed {
    color: #ffffff; 
    font-weight: bold;
}

.black-text {
    color: #000000;
}

.white-top-panel {
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    padding: 40px 20px; 
    box-sizing: border-box; 
    margin: 0;
}